@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@font-face {font-family: "Titan One";src: url("../Assets/TitanOne-Regular.ttf")}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Titan One', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: 'Open Sans', sans-serif;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: grid;
  align-content: center;
  justify-content: center;
  text-transform: uppercase;
  gap: 1.5rem;
  z-index: 2;
  background: url(../Assets/startBack.jpg) center center no-repeat;
  background-size: cover;
}
.modal.hide {
  display: none;
}
.modal > div {
  cursor: default;
}
.modal .title {
  text-align: center;
  font-size: 1.5rem;
}
.modal .title h1 {
  margin-top: 1.5rem;
  color: rgb(0, 0, 0);
  background-image: url('../Assets/hammer.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 3rem 0;
  font-family: 'Titan One', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 20px;
  font-size: 4rem;
  font-weight: 100;
}
.modal .title span {
  display: block;
  font-size: 1.8rem;
}

.modal .select {
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}

.modal .buttons {
  display: grid;
  gap: 0.5rem;
  width: max-content;
  margin: auto;
}
.modal .buttons button {
  width: 15rem;
  height: 4rem;
  font-size: 1.5rem;
  font-weight: lighter;
  color: #000;
  border-radius: 50rem;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  text-transform: uppercase;
  padding-right: 2rem;
  position: relative;
  border: 1px solid black;
  margin-bottom: 10px;
  box-shadow: 1px 3px 3px black;
}
.modal .buttons button:nth-child(1) {background-color: #00a8ff; color: #fff;}
.modal .buttons button:nth-child(2) {background-color: #4cd137; color: #fff;}
.modal .buttons button:nth-child(3) {background-color: #e84118; color: #fff;}

.modal .buttons button:active {
  transform: scale(0.95);
}

.modal .buttons img{
  height: 3.2rem;
  width: 3.2rem;
  position: absolute;
  right: 1rem;
  top: 0.4rem;
  border-radius: 50%;
}

body {
  position: relative;
  background: url('../Assets/background.jpg') center center no-repeat;
  background-size: cover;
  min-height: 100vh;
  max-height: 100vh;
  display: grid;
  align-items: center;
  align-content: center;
  overflow: hidden;
}
.container  * {
  font-family: 'Titan One', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  margin: auto;
  width: min-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.retry {
  cursor: pointer;
}
.view * {
  user-select: none;
}
.view {
  display: grid;
  gap: 1rem;
  transform: translateX(-2.5rem);
}
.view main > div {
  cursor: url('../Assets/hammer2.png'), auto;	
}
.view .controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.view .start {
  cursor: pointer;
}
.view .start:active {
  transform: scale(0.95);
}
.view .controls > div {
  color: #fff;
  text-shadow: 0px 0px 4px #000;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  background-color: #00000055;
  border: 3px solid #111;
}

.view .controls .time, 
.view .controls .score {
  position: relative;
}
.view .controls .time p, 
.view .controls .score p {
  position: absolute;
  left: 50%;
  top: -30%;
  transform: translateX(-50%);
  font-size: 1.5rem;
}

main {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.25rem;
}
main > div {
  width: 10rem;
  height: 10rem;
}

main .side-controls {
  position: absolute;
  right: 0;
  width: 0;
  transform: translateX(100%);
  z-index: 10;
}
main .side-controls--container {
  margin-left: 1rem; 
  padding: .75rem;
  width: max-content;
  height: max-content;
  background-color: #00000055;
  border: 3px solid #111;
  display: grid;
  border-radius: 5px;
  gap: 1rem;
}
main .side-controls--container-2 {
  display: none;
}
main .side-controls--container div {position: relative;cursor: pointer;}
main .side-controls--container .settings {
  height: 2.5rem;
  width: 2.5rem;
  -webkit-filter: drop-shadow(1px 1px 0px 1px #00000020);
  filter: drop-shadow(1px 1px 0px 1px #00000020);
  margin: auto;
}
main .side-controls--container .velocity-level {
  height: 2.5rem;
  width: 2.5rem;
  -webkit-filter: drop-shadow(1px 1px 0px 1px #00000020);
  filter: drop-shadow(1px 1px 0px 1px #00000020);
  margin: auto;
}
main .side-controls--container .time-level {
  height: 2.5rem;
  width: 2.5rem;
  -webkit-filter: drop-shadow(1px 1px 0px 1px #00000020);
  filter: drop-shadow(1px 1px 0px 1px #00000020);
  margin: auto;
}
main .side-controls--container .volume-level {
  height: 2.5rem;
  width: 2.5rem;
  -webkit-filter: drop-shadow(1px 1px 0px 1px #00000020);
  filter: drop-shadow(1px 1px 0px 1px #00000020);
  margin: auto;
}
main .side-controls--container img {
  display: block;
  width: inherit;
  height: inherit;
  user-select: none;
}
main .side-controls--container div:active {
  transform: scale(0.90);
}
main .side-controls--container span {
  color: #4cd137;
  position: absolute;
  text-shadow: 2px 2px 1px #000;
  right: 0;
  bottom: 0;
  z-index: 1;
  font-size: 1.25rem;
}
main .side-controls--container span.easy {color: #00a8ff;}
main .side-controls--container span.normal {color: #4cd137;}
main .side-controls--container span.hard {color: #e84118;}
main .side-controls--container span.none {display: none;}

.active {
  cursor: pointer;
}
.active:active {
  color: #bbb;
}

.hole {
  background: #00000055;
  border-radius: 5px;
  border: 3px solid #111;
  position: relative;
  overflow: hidden;
}
.mole {
  position: relative;
  height: 100%;
  width: 100%;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  top: 100%;
}
